<!--<div class="row">-->
<!--    <div class="col-3"></div>-->
<!--    <div class="col-6">-->
<!--        <div *ngIf="isShow"-->
<!--             class="alert {{ (isSuccess) ? 'alert-success' : 'alert-danger' }}"-->
<!--             role="alert">-->
<!--            {{message}}-->
<!--        </div>-->
<!--        <form [formGroup]="formGroup">-->
<!--            <fieldset>-->
<!--                <div class="form-group">-->
<!--                    <label><span class="req">* </span> Họ và tên đệm: </label>-->
<!--                    <input class="form-control" type="text" name="tenDanhMuc" formControlName="categoryfirstName"/></div>-->
<!--                <div class="form-group">-->
<!--                    <label><span class="req">* </span> Tên: </label>-->
<!--                    <input class="form-control" type="text" name="tenDanhMuc" formControlName="categorylastName"/>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <button (click)="edit()" class="btn btn-primary">Sửa thông tin</button>-->
<!--                </div>-->
<!--            </fieldset>-->
<!--        </form>-->
<!--    </div>-->
<!--    <div class="col-3"></div>-->
<!--</div>-->

<p>aaaa</p>
